<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @change_request.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @change_request.description %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @change_request.priority %>
</p>

<p>
  <strong>User:</strong>
  <%= @change_request.user.name %>
</p>

<%= link_to 'Edit', edit_change_request_path(@change_request) %> |
<%= link_to 'Back', change_requests_path %>
