<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@istrazivanje) do |f| %>
        <% if @istrazivanje.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@istrazivanje.errors.count, "error") %> prohibited this istrazivanje from being saved:</h2>

              <ul>
                <% @istrazivanje.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>


        <%= f.label :Name %> <br>
        <%= f.text_field :klasa, class: 'form-control' %>

        <%= f.label :comment %><br>
        <%= f.text_area :komentar, class: 'form-control' %>

        <%= f.label :problem %><br>
        <%= f.select :problem_id, options_from_collection_for_select(@problems, 'id', 'naziv'), class: 'form-control'%>

        <%= f.label :request_needed %>
        <%= f.check_box :potreban_zahtjev, class: 'form-control' %><br>

        <%= f.submit "Submit", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>


