<p id="notice"><%= notice %></p>

<h1>Lista problema</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Naziv</th>
      <th>Opis</th>
      <th>Kategorija</th>
      <th>Prioritet</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @problems.each do |problem| %>
      <tr>
        <td><%= problem.naziv %></td>
        <td><%= problem.opis %></td>
        <td><%= problem.kategorija %></td>
        <td><%= problem.prioritet %></td>
        <td><%= link_to 'Show', problem %></td>
        <td><%= link_to 'Edit', edit_problem_path(problem) %></td>
        <td><%= link_to 'Destroy', problem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novi problem', new_problem_path %>
