<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @problem.naziv %>
</p>

<p>
  <strong>Description:</strong>
  <%= @problem.opis %>
</p>

<p>
  <strong>Category:</strong>
  <%= @problem.kategorija %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @problem.prioritet %>
</p>

<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Nazad', problems_path %>
