<p id="notice"><%= notice %></p>

<h1>Listing It Processes</h1>

<div class="table-responsive">
  <table class="table table-bordered">
  <thead>
    <tr>
      <th class="col-sm-2">Name</th>
      <th class="col-sm-2">Description</th>
      <th class="col-sm-2">Importance</th>
      <th class="col-sm-2">Business process</th>
      <th class="col-sm-4" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @it_processes.each do |it_process| %>
      <tr>
        <td class="col-sm-2"><%= it_process.name %></td>
        <td class="col-sm-2"><%= it_process.description %></td>
        <td class="col-sm-2"><%= it_process.importance %></td>
        <td class="col-sm-2"><%= it_process.business_process %></td>
        <td class="col-sm-2"><%= link_to 'Show', it_process %></td>
        <td class="col-sm-1"><%= link_to 'Edit', edit_it_process_path(it_process) %></td>
        <td class="col-sm-1"><%= link_to 'Destroy', it_process, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New It process', new_it_process_path %>
</div>