<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @it_process.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @it_process.description %>
</p>

<p>
  <strong>Importance:</strong>
  <%= @it_process.importance %>
</p>

<p>
  <strong>Business process:</strong>
  <%= @it_process.business_process %>
</p>

<%= link_to 'Edit', edit_it_process_path(@it_process) %> |
<%= link_to 'Back', it_processes_path %>
