<p id="notice"><%= notice %></p>

<h1>Listing Risks</h1>

<div class="table-responsive">
  <table class="table table-bordered">
  <thead>
    <tr>
       <th class="col-sm-2">Name</th>
       <th class="col-sm-2">Description</th>
       <th class="col-sm-2">Possibility</th>
       <th class="col-sm-2">It process</th>
       <th class="col-sm-4" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @risks.each do |risk| %>
      <tr>
        <td class="col-sm-2"><%= risk.name %></td>
        <td class="col-sm-2"><%= risk.description %></td>
        <td class="col-sm-2"><%= risk.possibility %></td>
        <td class="col-sm-2"><%= risk.it_process %></td>
        <td class="col-sm-2"><%= link_to 'Show', risk %></td>
        <td class="col-sm-1"><%= link_to 'Edit', edit_risk_path(risk) %></td>
        <td class="col-sm-1"><%= link_to 'Destroy', risk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Risk', new_risk_path %>
</div>