<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= form_for(@authorization) do |f| %>
  <% if @authorization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@authorization.errors.count, "error") %> prohibited this authorization from being saved:</h2>

      <ul>
      <% @authorization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


        <%= f.label :change_request %><br>
        <%= f.select :change_request_id, options_from_collection_for_select(@change_requests, 'id', 'name'), class: 'form-control'%>

        <%= f.label :User %><br>
        <%= f.select :user_id, options_from_collection_for_select(@users, 'id', 'name'), class: 'form-control'%>


    <%= f.label :authorized %>
    <%= f.check_box :authorized, class: 'form-control' %>


    <%= f.label :comment %><br>
    <%= f.text_area :comment, class: 'form-control' %>

    <%= f.submit "Submit", class: "btn btn-primary" %>

<% end %>
</div>
</div>

