<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= form_for(@business_process) do |f| %>
  <% if @business_process.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business_process.errors.count, "error") %> prohibited this business_process from being saved:</h2>

      <ul>
      <% @business_process.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :description %>
        <%= f.text_field :description, class: 'form-control' %>

        <%= f.submit "Create Business process", class: "btn btn-primary" %>
<% end %>
</div>
    </div>

