<p id="notice"><%= notice %></p>

<h1>Listing Business Processes</h1>

<div class="table-responsive">
  <table class="table table-bordered">
  <thead>
    <tr>
      <th class="col-sm-3">Name</th>
      <th class="col-sm-3">Description</th>
      <th class="col-sm-6" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @business_processes.each do |business_process| %>
      <tr>
        <td class="col-sm-3"><%= business_process.name %></td>
        <td class="col-sm-3"><%= business_process.description %></td>
        <td class="col-sm-2"><%= link_to 'Show', business_process %></td>
        <td class="col-sm-2"><%= link_to 'Edit', edit_business_process_path(business_process) %></td>
        <td class="col-sm-2"><%= link_to 'Destroy', business_process, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
<%= link_to 'New Business process', new_business_process_path %>