<p id="notice"><%= notice %></p>

<h1>Listing Plans</h1>

<div class="table-responsive">
  <table class="table table-bordered">
  <thead>
    <tr>
      <th class="col-sm-3">Name</th>
      <th class="col-sm-3">Steps</th>
      <th class="col-sm-3">Estimation</th>
      <th class="col-sm-3" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td class="col-sm-3"><%= plan.name %></td>
        <td class="col-sm-3"><%= plan.steps %></td>
        <td class="col-sm-3"><%= plan.estimation %></td>
        <td class="col-sm-1"><%= link_to 'Show', plan %></td>
        <td class="col-sm-1"><%= link_to 'Edit', edit_plan_path(plan) %></td>
        <td class="col-sm-1"><%= link_to 'Destroy', plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
<%= link_to 'New Plan', new_plan_path %>
